{% extends "personal/header.html" %}

{% block content %}
	<h5>Welcome to my webiste.</h5>
	<p>Hello, I am a student at Sri Venkateswara College of Engineering &amp; Technology, Chittoor. I am studying MCA (final year) and I am very enthusiastic learner of new software technologies.</p>
	<p>I have done a few online courses to explore different software paradigms and build skills with hands-on exercises. I possess an in-depth understanding of programming concepts and can efficiently apply logics to program. I am a flexible team worker and have good communication skills.</p>
	<p>I am seeking entry level assignments in Application Software Development with a progressive organization that gives scope to update and utilize my knowledge and skills in accordance with its objectives.</p>

	{% include "personal/includes/htmlsnippet.html" %}

	<p>Thank You for visiting.</p>

{% endblock %}